{% extends "pagetemplate.html" %}
{% block contenido %}
    <div id="tooplate_middle_wrapper1">
        <div id="tooplate_middle_wrapper2">
            <div id="tooplate_middle">
                
                <h1>PROACTIVIDAD<span>recurso para triunfar</span></h1>
                
                <p>Las personas proactivas suelen destacar en los entornos de trabajo porque buscan soluciones anticipándose a posibles incidencias y proponen nuevos proyectos que ayudan a mejorar el día a día de las empresas.</p>
                
            </div>
        </div>
    </div>

    <div id="tooplate_main">
        
        <div id="tooplate_content">

                <h2>Información de Contato</h2>

            <p><em>Ubicados en la mejor zona de la ciudad, contamos con cómodas y modernas oficinas para la atención de nuesrtros clientes.</em></p>
            <p>El complejo de negocios más moderno del caribe. Ubicado en una de las zonas con mayor proyección comercial y empresarial de la ciudad de Barranquilla. Torre de oficinas y Hotel Holiday Inn, exclusiva plazoleta de locales y 678 parqueaderos.Areas desde 100 a 1200 mts2</p>
            <div class="cleaner_h40"></div>
            
            <div class="two_column_ws float_l">
                
                    <h6>Oficina Administrativa</h6>
                    Miniso Mallplaza, <br />
                    Cra. 55 # 99 - 22 Suite 10 <br />
                    Barranquilla, 08001<br />
                    Colombia<br /><br />
                    Tel: 020-050-5520<br /> 
                    Fax: 020-040-1680
                    </div>
                    
                    <div class="two_column_ws float_r">
            
                    <h6>Centro Operativo</h6>
                    Buenavista Business, <br />
                    Calle 96 Cra 52 C Esq. Ofc 504 - 505 <br />
                    Barranquilla, 08001<br />
                    Colombia<br /><br />
                    Tel: 040-060-4520<br />
                    Fax: 040-020-3560 
                </div>       
            
                <div class="cleaner_h50"></div>
                
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1958.157837371962!2d-74.82708625308794!3d11.014925231252773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42dc666fc6a71%3A0x163cd15ba6a105c0!2sMiniso%20Mallplaza%20Barranquilla!5e0!3m2!1sen!2sit!4v1632961841792!5m2!1sen!2sit" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    <div class="cleaner_h50"></div>
                </div>
                
                <div id="contact_form">
                
                    <h4>Formulario de Contacto</h4>
                        <form method="post" name="contact" id="contact" action="{{url_for('contacto')}}" onsubmit="return validar_contacto();">
                            {{ form.hidden_tag() }}

                            {{ form.author.label }}
                            {{ form.author(class_="required input_field")}}
                            <div class="cleaner_h10"></div>

                            {{ form.email.label }}
                            {{ form.email(class_="validate-email required input_field")}}
                            <div class="cleaner_h10"></div>

                            {{ form.subject.label }}
                            {{ form.subject(class_="validate-subject required input_field")}}
                            <div class="cleaner_h10"></div>

                            {{ form.mensaje.label }}
                            {{ form.mensaje(class_="required")}}
                            <div class="cleaner_h10"></div>

                            {{ form.enviar(class_="submit_btn float_l",onclick="prueba()") }}
                            <input type="reset" value="Cancelar" id="reset" name="reset" class="submit_btn float_r" />
                            
                        </form>
                </div>           
                
        </div>
        
            <div id="tooplate_sidebar">
            
                <div class="button"><a href="{{url_for('index')}}">Home</a></div>
                
                <div class="cleaner_h60"></div>
                
                <h2>Casos de Exito</h2>
                
                <blockquote>
                <p>Una excelente empresa, grandes anfitriones, el personal es simpre atento y amable. Muchas gracias por sus atenciones. </p>
                
                <cite>Henry Guzman - <span>DHL Envios</span></cite>
                </blockquote>
                
            </div>
            
            <div class="cleaner"></div>

    </div>

    <div class="cleaner"></div>  

{% endblock %}