{% extends "apptemplate.html" %}
{% block contenido %}

  <div id="tooplate_middle_wrapper3">
    <div id="tooplate_middle_wrapper4">
      <div id="tooplate_middle1">

        <h1>Editar Usuarios</h1>
      </div>
    </div>
  </div>

  <div id="tooplate_main">
    
    <form method="post"  action="" id="formeditarusuario" name="formeditarusuario" novalidate>
      {{ form.hidden_tag() }}
      <div id="tooplate_content1">
        <div class="col_w380 float_l">
          <div id="personaldata">
            <h3>Datos Personales</h3>
            <p>
              {{ form.documento.label }}
              {{ form.documento(placeholder="Ingrese Cedula")}}
            </p>
            <p>
              {{ form.nombre.label }}
              {{ form.nombre(placeholder="Ingrese Nombre")}}
            </p>
            <p>
              {{ form.apellidos.label }}
              {{ form.apellidos(placeholder="Ingrese Apellidos")}}
            </p>
            <p>
                <label for="genero">Genero: </label>
                <input type="radio" id="tipo_genero" name="tipo_genero" value="Masculino">
                <label for="hombre">M</label>
                <input type="radio" id="tipo_genero" name="tipo_genero" value="Femenino">
                <label for="mujer">F</label>
            </p>
            <p>
              {{ form.fechaNacimiento.label }}
              {{ form.fechaNacimiento()}}
            </p>
            <p>
              {{ form.ciudadNacimiento.label }}
              {{ form.ciudadNacimiento()}}
            </p>
          </div>
          <div class="acceso">
          <h3>Acceso</h3>
          <p>
            {{ form.user.label }}
            {{ form.user()}}
          </p>
          <p>
            {{ form.password.label }}
            {{ form.password()}}
          </p>
          <p>
            {{ form.rol.label }}
            {{ form.rol()}}
          </p>
          </div>
          <div class="contacto">
        <h3>Datos de Contacto</h3>
        <p>
          {{ form.telefono.label }}
          {{ form.telefono()}}
        </p>
        <p>
          {{ form.direccion.label }}
          {{ form.direccion()}}
        </p>
        <p>
          {{ form.ciudadResidencia.label }}
          {{ form.ciudadResidencia()}}
        </p>
        <p>
          {{ form.email.label }}
          {{ form.email()}}
        </p>
          </div> 
        </div>
          
        <div class="col_w430 float_r">
          <div class="contrato">
            <h3>Datos de Contrato</h3>
            <p>
              {{ form.tipoContrato.label }}
              {{ form.tipoContrato()}}
            </p>
            <p>
              {{ form.cargo.label }}
              {{ form.cargo()}}
            </p>
            <p>
              {{ form.fechaInicio.label }}
              {{ form.fechaInicio()}}
            </p>
            <p>
              {{ form.fechaFinalizacion.label }}
              {{ form.fechaFinalizacion()}}
            </p>
            <p>
              {{ form.dependencia.label }}
              {{ form.dependencia()}}
            </p>
            <p>
              {{ form.salario.label }}
              {{ form.salario()}}
            </p>
            <p>
                <label for="estado">Estado Contrato: </label>
                <input type="radio" id="estado" name="estado" value="activo">
                <label for="activo">Activo</label>
                <input type="radio" id="estado" name="estado" value="inactivo">
                <label for="inactivo">Inactivo</label>
            </p>
        </div>
          <div class="acciones">
            <p>
              <h3>Acciones</h3>
              {{ form.editar(class_="submit_btn float_l") }}
              
              <div class="button">
                <a href="/mainadmin">Regresar</a>
              </div>
            </p> 
          </div>
        </div>
      </div>
    </form>      
      <div class="cleaner"></div>
  </div>

  <div class="cleaner"></div>  

{% endblock %}