{% extends "apptemplate.html" %}
{% block contenido %}

    <div id="tooplate_middle_wrapper3">
            <div id="tooplate_middle_wrapper4">
                <div id="tooplate_middle1">        
                    <h1>Evaluación del Desempeño</h1>
                </div>
            </div>
    </div> <!-- end of middle_wrapper -->
        
    <div id="tooplate_main">
        
        <form action="/mainadmin/evaluar/{{id}}" method="POST" id="formevaluar" name="formevaluar">
            {{ form.hidden_tag() }} 
            <input id="idperson" name="idperson" type="hidden" value="{{id}}"> 
            <p>
                {{ form.anoEvaluacion.label(class="lblev") }}
                {{ form.anoEvaluacion()}}<br>

                {{ form.mesEvaluacion.label(class="lblev") }}
                {{ form.mesEvaluacion(onChange="actualizar_evaluacion(idperson.value,anoEvaluacion.value,mesEvaluacion.value)")}}<br>
                    <br>
                    <section id="lblerror"class="content">
                        {% for message in get_flashed_messages() %}
                        <div class="flash">{{ message }}</div>
                        {% endfor %}
                      </section>
                    
            </p>
            <div id="tooplate_content1">
                        <div class="col_w380 float_l"> <!--LADO IZQUIERDO-->
                            <div id="personaldata">
                                <h3>Empleado</h3>
                                <p>
                                    {{ form.documento.label(class="lblev") }}
                                    {{ form.documento(readonly=true, value=info[1])}}
                                </p>
                                <p>
                                    {{ form.nombre.label(class="lblev") }}
                                    {{ form.nombre(readonly=true,value=info[2])}}
                                </p>
                                <p>
                                    {{ form.apellidos.label(class="lblev") }}
                                    {{ form.apellidos(readonly=true,value=info[3])}}
                                </p>
                            </div>

                            <div id="retroalimentacion">
                                <br>                       
                                <h3>Retroalimentacion</h3>
                                <p>
                                    {{ form.puntaje.label(class="lblev") }}
                                    {{ form.puntaje(readonly=true)}}
                                    <br/> <br/>
                                    {{ form.retroalimentacion(rows="5",cols="55")}}
                                </p>
                            </div>    
                        </div>    

                        <div class="col_w380 float_r"> <!--LADO DERECHO-->
                            <div class="calificación">                  
                                <h3>Calificacion</h3>
                                <p>
                                    {{ form.conocimiento.label(class="lblev") }}
                                    {{ form.conocimiento(min="1",max="5",list="lista-rango1",step="1", onChange="puntaje_final()")}}
                                    <datalist id="lista-rango1">
                                        <option value="1" label="1">
                                        <option value="2" label="2">
                                        <option value="3" label="3">
                                        <option value="4" label="4">
                                        <option value="5" label="5">    
                                    </datalist>
                                </p>

                                <p>
                                    {{ form.actitud.label(class="lblev") }}
                                    {{ form.actitud(min="1",max="5",list="lista-rango2",step="1", onChange="puntaje_final()")}}
                                    <datalist id="lista-rango2">
                                        <option value="1" label="1">
                                        <option value="2" label="2">
                                        <option value="3" label="3">
                                        <option value="4" label="4">
                                        <option value="5" label="5">    
                                    </datalist>
                                </p>

                                <p>
                                    {{ form.habilidad.label(class="lblev") }}
                                    {{ form.habilidad(min="1",max="5",list="lista-rango3",step="1" ,onChange="puntaje_final()")}}
                                    <datalist id="lista-rango3">
                                        <option value="1" label="1">
                                        <option value="2" label="2">
                                        <option value="3" label="3">
                                        <option value="4" label="4">
                                        <option value="5" label="5">    
                                    </datalist>  
                                </p>

                            <div class="acciones"> 
                                                           
                                <p> {% if x=="Guardar" %}
                                        {{ form.guardar(class_="submit_btn") }}
                                    {% else %}
                                        {{ form.editar(class_="submit_btn") }}
                                    {% endif %}
                                    <br>
                                    
                                    <div class="button">
                                        <a href="/mainadmin">Regresar</a>
                                    </div>

                                </p>
                            </div>    

                            </div>
                        </div>
            </div>
        </form>
    </div>
   
    <div class="cleaner"></div>  
{% endblock %}
