<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> BRF S.A. </title> 
<meta name="keywords" content="" />
<meta name="description" content="" />
<!--
MisionTic2022
Universidad del Norte Barranquilla

Grupo 43 - Equipo 9
--> 
<link href="tooplate_style.css" rel="stylesheet" type="text/css" />

</head>
<body> 

<div id="tooplate_header_wrapper">

    <div id="tooplate_header">
    
        <div id="site_title">
        
        	<h1><a href="#"><img src="images/tooplate_logo.png" alt="business template" /><span>BRF S.A. Soluciones Empresariales</span></span></span></a></h1>
        
        </div> <!-- end of site_title -->
        
        <div id="header_phone_no">

			Call Center: <span>01 8000 555 2222</span>
        
        </div>
        
        <div class="cleaner_h10"></div>
        
        <div id="tooplate_menu">
        	
            <div id="home_menu"><a href="#"></a></div>
                
            <ul>
                <li><a href="index.html" class="current">Home</a></li>
                <li><a href="mision.html">Misión</a></li>
				<li><a href="vision.html">Visión</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="contacto.html">Contáctanos</a></li>
				<li><a href="login.html">Login</a></li>
            </ul>    	
        
        </div> <!-- end of tooplate_menu -->
        
    </div>	  
</div> <!-- end of header_wrapper -->

<div id="tooplate_middle_wrapper1">
	<div id="tooplate_middle_wrapper2">
		<div id="tooplate_middle">

			<h1>PROFESIONALES<span>altamente capacitados</span></h1>
			
			<p>Somos expertos en personas, cultura, talento; y los recursos humanos son nuestro ecosistema. Desde esta perspectiva creamos y compartimos contenidos de actualidad sobre tendencias del mercado laboral, empleo, innovación, personas y tecnología.</p>
			
		</div>
	</div>
</div>

<div id="tooplate_main">
    
    <div id="tooplate_content">
    
        <h2>Razones por las que los clientes nos eligen...</h2>
                      
        <div class="image_wrapper fl_img"><img src="images/tooplate_image_01.jpg" alt="Image 01" /></div>
		<p><em>Experiencia en el mercado, variedad de candidatos, calidad de servicio... </p>
		<a href="https://mastiempoylibertad.com/post-cliente-ideal/" target="_blank" rel="nofollow"><strong>Cliente ideal</strong></a></em></p>
        
        <p>Desde un servicio de atención al cliente personalizado hasta una mayor flexibilidad en los modelos de contratación, estas son algunas de las razones principales por las que los clientes eligen BRF para atender sus necesidades de RR.HH. y de personal. ¡Te las contamos!</p>
        
        <div class="button float_r"><a href="https://www.aiteco.com/que-es-la-calidad-de-servicio/" target="_blank">More...</a></div>
        
        <div class="cleaner_h30 horizon_divider"></div>
        <div class="cleaner_h30"></div>
        
        <div class="col_w270 float_l">
	        
			<h2>Nuestros estándares</h2>
          
			<div class="image_wrapper2"><img src="images/tooplate_image_02.jpg" alt="Image 02" /></div>
          
			<p><em>La gestión de calidad tiene principios fundamentales que son regidos por la norma ISO-9001, que busca estandarizar los requisitos de la gestión de calidad.</em></p>
            
            <ul class="tooplate_list">
                <li>Medio ambiente</li>
                <li>Gestión de la calidad</li>
                <li>Prevención de riesgos laborales</li>
                <li>Responsabilidad social corporativa</li>
				<li>Calidad y Seguridad Industrial</li>
            </ul>
          
			<div class="button float_r"><a href="https://legacy.trade.gov/goodgovernance/adobe/Bus_Ethics_sp/Chapter%20III/III_Chapter_5.pdf" target="_blank">PDF...</a></div>
            
        </div>
        
        <div class="col_w270 float_r">
        
          <h2>Nuestras soluciones</h2>
            
            <div class="image_wrapper2"><img src="images/tooplate_image_03.jpg" alt="Image 03" /></div>
            
            <p>En BRF, podemos brindarle un análisis objetivo del estado actual de su negocio, indentificar áreas claves que requieren cambios y planificar una estrategia para fomentar el crecimiento y las ganancias futuras.</p>
			<p>Podemos ayudarle en la implementación de su estrategia comercial o bien asesorarle en los cambios necesarios para adaptar su plan comercial a las circumstancias económicas actuales.</p>
            
            <div class="button float_r"><a href="https://adelane-solutions.com/">More...</a></div>
                
        </div>
        
    </div>
    
        <div id="tooplate_sidebar">
        
            <h2>Nuestros Servicios</h2>
            
            <ul class="tooplate_list">
            <li><a href="#">Selección de Personal</a></li>
            <li><a href="#">Pruebas Psicotecnicas</a></li>
            <li><a href="#">Campañas de Marketing</a></li>
            <li><a href="#">Asesoramiento Comercial</a></li>
            <li><a href="#">Diseño de Estrategias</a></li>
            <li><a href="#">Creación de Contenido</a></li>
            <li><a href="#">Branding</a></li>
            <li><a href="#">Social Media</a></li>
            <li><a href="#">Imagen Corporativa</a></li>
            <li><a href="#">Programas de Capacitación</a></li>
            </ul>
            <div class="button"><a href="servicios.html">View All</a></div>
            
            <div class="cleaner_h60"></div>
            
            <h2>Casos de Exito</h2>
            
            <blockquote>
            <p>Gracias a esta empresa por su apoyo y formación como trabajador. Por haberme ofrecido las herramientas para lograr objetivos concretos y llenarme de satisfacciones por las metas logradas.</p>
            
            <cite>Sara Medina - <span>Asistente de Compras</span></cite>
            </blockquote>
            
        
        
        </div>
        
		<div class="cleaner"></div>
</div>

    <div class="cleaner"></div>  

<div id="tooplate_footer_wrapper">

     <div id="tooplate_footer">
    
        Copyright © 2021 <a href="#">BRF S.A. Soluciones Empresariales</a> - Design: <a href="https://creativedk.com/">Creative DK</a>
    
    </div> <!-- end of tooplate_footer -->

</div> 
    
</body>
</html>