<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> BRF S.A. </title> 
<meta name="keywords" content="" />
<meta name="description" content="" />
<!--
MisionTic2022
Universidad del Norte Barranquilla

Grupo 43 - Equipo 9
--> 
<link href="tooplate_style.css" rel="stylesheet" type="text/css" />

</head>
<body> 

<div id="tooplate_header_wrapper">

    <div id="tooplate_header">
    
        <div id="site_title">
        
        	<h1><a href="#"><img src="images/tooplate_logo.png" alt="business template" /><span>BRF S.A. Soluciones Empresariales</span></span></span></a></h1>
        
        </div> <!-- end of site_title -->
        
        <div id="header_phone_no">

			Call Center: <span>01 8000 555 2222</span>
        
        </div>
        
        <div class="cleaner_h10"></div>
        
        <div id="tooplate_menu">
        	
            <div id="home_menu"><a href="#"></a></div>
                
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="mision.html">Misión</a></li>
				<li><a href="vision.html">Visión</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="contacto.html">Contáctanos</a></li>
				<li><a href="login.html" class="current">Login</a></li>
            </ul>    	
        
        </div> <!-- end of tooplate_menu -->
        
    </div>	  
</div> <!-- end of header_wrapper -->

<div id="tooplate_middle_wrapper1">
	<div id="tooplate_middle_wrapper2">
		<div id="tooplate_middle">

			<h1>INFORMACIÓN<span>rápida y confiable</span></h1>
			
			<p>Los grandes volúmenes de información hacen esencial contar con un modelo utilice inteligencia artificial para permitir a los empleados obtener retroalimentacion de sus resultados de una manera mas rapida y eficiente.</p>
			
		</div>
	</div>
</div>

<div id="tooplate_main">
    
    <div id="tooplate_content">
    
        <div class="services_section horizon_divider">
            
                <h2>Intranet Corporativa</h2>
                <div class="ss_left">
                    <img src="images/intranet.jpg" alt="Image" />
              	</div>
                    
                <div class="ss_right">
                	<p><em>Desde esta plataforma los empleados pueden tener acceso a su información personal asi como a su evaluación mensual según sus áreas de especialización; permite un punto de encuentro entre la información y un modo digital para distribuirla.</em></p>
					

                    <form action="mainadmin.html" method="POST" name="formRegistro" onSubmit="validar_formulario()">
        
                        <p>
                            <label for="username"> <b>Usuario:</b></label><br>
                            <input type="text" id="username" name="username" placeholder="Ingrese Usuario" autofocus="" required=""><br>
                        </p>
                
                        <p>
                            <label for="password"> <b>Contraseña:</b></label><br>
                            <input type="password" id="password" name="password" placeholder="Ingresar Password" required=""><br>
                        </p>
                
                        <p>
                            <input type="checkbox" name="politicas" id="politicas">
                            <label for="politicas">Declaro haber leído y acepto las políticas de privacidad y protección de datos </label><br>
                            <a href="politicas.html">Leer Políticas</a><br>
                        </p>
                
                    
                        <div class="button">
                            <a href="#">Ingresar</a>
                        </div>
                
                    </form><br>
                    <a href="olvidarpass.html">¿Olvidaste tu contraseña?</a><br>
                    

                </div>
                    
                <div class="cleaner"></div>
    
        </div>

        
    </div>
	
			<div class="cleaner"></div>
		
</div>

  
<div id="tooplate_footer_wrapper">

     <div id="tooplate_footer">
    
        Copyright © 2021 <a href="#">BRF S.A. Soluciones Empresariales</a> - Design: <a href="https://creativedk.com/">Creative DK</a>
    
    </div> <!-- end of tooplate_footer -->

</div> 
    
</body>
</html>
