{% extends "apptemplate.html" %}
{% block contenido %}

  <div id="tooplate_middle_wrapper3">
    <div id="tooplate_middle_wrapper4">
      <div id="tooplate_middle1">

        <h1>Lista Usuarios</h1>
      </div>
    </div>
  </div>


  <div id="tooplate_main">
      
      <div id="tooplate_content1">
      
          <div id="tabla">
              <p>
                <p align="right">
                  <input type="search" name="buscar" id="buscar">
                  <button type="button" id="find">Buscar</button>
                </p>
                
                  <table style="width: 100%">
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Cargo</th>
                          <th>Dependencia</th>
                          <th>Inicio Contrato</th>
                          <th>Fin Contrato</th>
                          <th colspan="3">Accion</th>
                        </tr>
                      </thead>
                      <tbody style="text-align:center">
                        <tr>
                          <td>Pedro Perez</td>
                          <td>Auxiliar</td>
                          <td>Limpieza</td>
                          <td>21/01/2021</td>
                          <td>23/12/2021</td>
                          <td><div class="buttonver"><a href="/mainadmin/editar/1">Ver</a></div></td>
                          <td><div class="buttondel"><a href="#">Eliminar</a></div></td>
                          <td><div class="button"><a href="/mainadmin/evaluar/1">Evaluar</a></div></td>
                        </tr>
                        <tr>
                          <td>Juan Gonzalez</td>
                          <td>Auxiliar</td>
                          <td>Limpieza</td>
                          <td>21/01/2021</td>
                          <td>23/12/2021</td>
                          <td><div class="buttonver"><a href="/mainadmin/editar/2">Ver</a></div></td>
                          <td><div class="buttondel"><a href="#">Eliminar</a></div></td>
                          <td><div class="button"><a href="/mainadmin/evaluar/2">Evaluar</a></div></td>
                        </tr>
                        <tr>
                          <td>xxxxxxx</td>
                          <td>xxxxxxx</td>
                          <td>xxxxxxxx</td>
                          <td>21/01/2021</td>
                          <td>23/12/2021</td>
                          <td><div class="buttonver"><a href="/mainadmin/editar/3">Ver</a></div></td>
                          <td><div class="buttondel"><a href="#">Eliminar</a></div></td>
                          <td><div class="button"><a href="/mainadmin/evaluar/3">Evaluar</a></div></td>
                        </tr>
                      </tbody>
                    </table>
              </p> 
          </div>
          <div class="button float_r">
              <a href="/mainadmin/crear">Crear usuario</a>
          </div>
          
          <div class="cleaner_h30 horizon_divider"></div>
          <div class="cleaner_h30"></div>
          
        
          
      <div class="cleaner"></div>
    </div>
  </div>

  <div class="cleaner"></div>
    
{% endblock %}
