{% extends "apptemplate.html" %}
{% block contenido %}
  <div id="tooplate_middle_wrapper3">
    <div id="tooplate_middle_wrapper4">
      <div id="tooplate_middle1">

        <h1>Información del Usuario</h1>
      </div>
    </div>
  </div>


  <div id="tooplate_main">
    
    <form action="" name="formUsuario" >
      {{ form.hidden_tag() }}
      <div id="tooplate_content1">
        <div class="col_w380 float_l">
          <div id="personaldata">
            <h3>Información Personal</h3>
            <p>
              {{ form.documento.label }}
              {{ form.documento(readonly=true)}}
            </p>
            <p>
              {{ form.nombre.label }}
              {{ form.nombre(readonly=true)}}
            </p>
            <p>
              {{ form.apellidos.label }}
              {{ form.apellidos(readonly=true)}}
            </p>
            <p>
              {{ form.tipo_genero.label }}
              {{ form.tipo_genero(readonly=true)}}
            </p>
            <p>
              {{ form.fechaNacimiento.label }}
              {{ form.fechaNacimiento(readonly=true)}}
            </p>
            <p>
              {{ form.ciudadNacimiento.label }}
              {{ form.ciudadNacimiento(readonly=true)}}
            </p>
          </div>
          
          <div class="contacto">
            <h3>Datos de Contacto</h3>
            <p>
              {{ form.telefono.label }}
              {{ form.telefono(readonly=true)}}
            </p>
            <p>
              {{ form.direccion.label }}
              {{ form.direccion(readonly=true)}}
            </p>
            <p>
              {{ form.ciudadResidencia.label }}
              {{ form.ciudadResidencia(readonly=true)}}
            </p>
            <p>
              {{ form.email.label }}
              {{ form.email(readonly=true)}}
            </p>
          </div>
        </div>
        
          
        <div class="col_w430 float_r">
          <p align="center">
            {{ form.contrato.label }}
            {{ form.contrato()}}
          </p>
          <div class="contrato">
            <h3>Datos de Contrato</h3>
            <p>
              {{ form.tipoContrato.label }}
              {{ form.tipoContrato(readonly=true)}}
            </p>
            <p>
              {{ form.cargo.label }}
              {{ form.cargo(readonly=true)}}
            </p>
            <p>
              {{ form.fechaInicio.label }}
              {{ form.fechaInicio(readonly=true)}}
            </p>
            <p>
              {{ form.fechaFinalizacion.label }}
              {{ form.fechaFinalizacion(readonly=true)}}
            </p>
            <p>
              {{ form.dependencia.label }}
              {{ form.dependencia(readonly=true)}}
            </p>
            <p>
              {{ form.salario.label }}
              {{ form.salario(readonly=true)}}
            </p>
            <p>
              {{ form.estado.label }}
              {{ form.estado(readonly=true)}}
            </p>

            <div id="retroalimentacion">
              <br>                       
              <h3>Retroalimentacion</h3>
              <p>
                {{ form.puntaje.label }}
                {{ form.puntaje(readonly=true)}}
                <br/> <br/>
                {{ form.retroalimentacion.label }}
                {{ form.retroalimentacion(rows="5",cols="80",readonly=true)}}
              </p>
        
            </div> 

        </div>
          <div class="acciones">
            <p>

              <div class="button">
                <a href="/login">Regresar</a>
              </div>
            </p> 
          </div>
        </div>
      </div>
    </form>      
      <div class="cleaner"></div>
  </div>

  <div class="cleaner"></div>  
  {% endblock %}