{% extends "pagetemplate.html" %}
{% block contenido %}

    <div id="tooplate_middle_wrapper1">
        <div id="tooplate_middle_wrapper2">
            <div id="tooplate_middle">

                <h1>CLIENTES<span>altamente satisfechos</span></h1>
                
                <p>Cuanto más satisfecho esté un cliente con el servicio, más probable será que hable de nosotros. El hecho de que recomiende nuestro producto o servicio, demuestra la seguridad que siente al confiar en nuestra marca.</p>
                
            </div>
        </div>
    </div>

    <div id="tooplate_main">
        
        <div id="tooplate_content">
        
            <h2>Misión</h2>
                    
            <div class="image_wrapper fr_img"><img src="{{ url_for('static', filename='images/mision.png') }}" alt="Mision" /></div>
            <p><em>Contribuir a crear un modelo social y laboral en el que cualquier persona pueda participar en igualdad de condiciones y oportunidades.</em></p>
            
            <p>“Atender a nuestros clientes con altos estándares de calidad, al ofrecerles servicios integrales de consultoría en Recursos Humanos, a través de un equipo competente y comprometido, siendo en nuestro sector la mejor alternativa de empleo formal”.</p>
            
            
            <div class="cleaner_h30 horizon_divider"></div>
            <div class="cleaner_h30"></div>
            
            <h2>Casos de Exito</h2>
            
            <div class="col_w270 float_l">
            
                <blockquote>
                <p>Realmente veo mucho profesionalismo y excelente servicio, muchas felicidades a todo su equipo.</p>
                
                <cite>Sonia Arze (Gerente General) - <span>Eventos del Caribe</span></cite>
                </blockquote>
            
            </div>
            
            <div class="col_w270 float_l">
            
                <blockquote>
                <p>Voy a recomendar con mucho gusto a su empresa a cualquiera de mis amigos. Todos fueron muy eficientes corteses y profesionales. Yo estuve muy satisfecho. Muchas gracias.</p>
                
                <cite>George Manotas - <span>Laboratorios Schuart</span></cite>
                </blockquote>
            
            </div>
            
        </div>
        
            <div id="tooplate_sidebar">
            
                <h2>Nuestros Servicios</h2>
                
                <ul class="tooplate_list">
                <li><a href="#">Selección de Personal</a></li>
                <li><a href="#">Pruebas Psicotecnicas</a></li>
                <li><a href="#">Campañas de Marketing</a></li>
                <li><a href="#">Asesoramiento Comercial</a></li>
                <li><a href="#">Diseño de Estrategias</a></li>
                <li><a href="#">Creación de Contenido</a></li>
                <li><a href="#">Branding</a></li>
                <li><a href="#">Social Media</a></li>
                <li><a href="#">Imagen Corporativa</a></li>
                <li><a href="#">Programas de Capacitación</a></li>
                </ul>
                <div class="button"><a href="/servicios">View All</a></div>
            
            </div>
            
            <div class="cleaner"></div>

    </div>

    <div class="cleaner"></div>
{% endblock %}
