{% extends "pagetemplate.html" %}
{% block contenido %}

    <div id="tooplate_middle_wrapper3">
        <div id="tooplate_middle_wrapper4">
            <div id="tooplate_middle1">

                <h1>Restablecer Contraseña </h1>
            </div>
        </div>
    </div>

    <div id="tooplate_main">
        
        <div id="tooplate_content1">
        
            <form action="" method="POST" name="formRecovery" onSubmit="">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(placeholder="Digite contraseña")}}<br>
                </p>
                <p>
                    {{ form.repassword.label }}<br>
                    {{ form.repassword(placeholder="Repita Contraseña")}}<br>
                </p>
                <p>
                    <section class="content">
                        {% for message in get_flashed_messages() %}
                        <div class="flash">{{ message }}</div>
                        {% endfor %}
                      </section>
                </p>
        
                <div>
                    {{ form.guardar(class_="submit_btn float_l") }}
                </div><br>
            </form>


            <div class="cleaner_h30 horizon_divider"></div>
            <div class="cleaner_h30"></div>
            
        
            
            <div class="cleaner"></div>
        </div>
    </div>

    <div class="cleaner"></div>  

{% endblock %}