{% extends "pagetemplate.html" %}
{% block contenido %}

    <div id="tooplate_middle_wrapper3">
        <div id="tooplate_middle_wrapper4">
            <div id="tooplate_middle1">

                <h1>Restablecer Contraseña </h1>
            </div>
        </div>
    </div>

    <div id="tooplate_main">
        
        <div id="tooplate_content1">
        
            <form action="" method="POST" name="formRegistro" onsubmit="return validar_Olvido();">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(placeholder="Ingrese Usuario")}}<br>
                </p>
        
                <div>
                    {{ form.restablecer(class_="submit_btn float_l") }}
                </div><br>
                    
                <div class="ss_right">
                    <p><em>la contraseña se enviara a su correo una vez restablecida</em></p>
                </div>
            </form>


            <div class="cleaner_h30 horizon_divider"></div>
            <div class="cleaner_h30"></div>
            
        
            
            <div class="cleaner"></div>
        </div>
    </div>

    <div class="cleaner"></div>  

{% endblock %}