{% extends "pagetemplate.html" %}
{% block contenido %}
    <div id="tooplate_middle_wrapper1">
        <div id="tooplate_middle_wrapper2">
            <div id="tooplate_middle">

                <h1>RECURSO<span>humano y tecnico</span></h1>
                
                <p>Es importante destacar que el recurso humano se constituye en un elemento fundamental que da validez y uso a los demás recursos, en este sentido el personal de la organización puede desarrollar habilidades y competencias que le permitirán que la ventaja competitiva de la empresa pueda ser sostenida y perdurable en el tiempo, posibilitando así que pueda hablarse de la construcción de un recurso humano inimitable, único y competitivo.</p>
                
            </div>
        </div>
    </div>

    <div id="tooplate_main">
        
        <div id="tooplate_content">
        
            <div class="services_section horizon_divider">
                
                    <h2>Nuestros Servicios</h2>
                    <div class="ss_left">
                        <img src="{{ url_for('static', filename='images/calendar.png') }}" alt="Servicios" />
                    </div>
                        
                    <div class="ss_right">
                        <p><em>Las empresas de servicios suelen caracterizarse por las funciones en las que estas se especializan, en este sentido se le atribuyen 4 características fundamentales que las distinguen.</em></p>
                    
                        <ul class="tooplate_list">
                            <li><b>Principalmente son productos intangibles:</b></li>
                                <p>Los productos intangibles son aquellos productos que no se pueden tocar, comer, ver o sentir, es decir el ser humano no los puede percibir a través de sus sentidos. Por ejemplo, el internet es un producto intangible, sin embargo, requiere de productos tangibles que transmitan y lleven su señal a los equipos fabricados para tal fin.</p>
                            <li><b>El producto, la marca sinonimo de identidad corporativa:</b></li>
                                <p>La mayoría de los casos las empresas de servicios son inseparables de sus productos, aun cuando existan otras empresas distintas con similares productos se ofrecen servicios especializados para la fidelización del cliente.</p>
                            <li><b>Una amplia gama de servicios:</b></li>
                                <p>Normalmente los servicios son variables, es decir sus características pueden fluctuar y son muy susceptibles dado los procesos que están involucrados. Esto refiere al personal calificado, cómo y cuándo se presta el servicio, entre muchas variables más. Mientras más esté involucrada la mano de obra en un servicio mayor serán las variables que intervienen en el proceso.</p>
                            <li><b>Servicios a la medida para cada cliente:</b></li>
                                <p>Los servicios en muchas ocasiones se adecuan a las necesidades del cliente, es decir un producto que debe ser estudiado para que este cumpla con las espectativas y necesidades del cliente. Un servicio no se puede almacenar, vender o usar si no es requerido.</p>
                        </ul>
                        
                    </div>
                        
                    <div class="cleaner"></div>
        
            </div>

            
        </div>
        
            <div id="tooplate_sidebar">
            

                <div class="button"><a href="/">Home</a></div>
                
                <div class="cleaner_h60"></div>
                
                <h2>Casos de Exito</h2>
                
                <blockquote>
                <p>Los problemas de mi empresa eran algo particulares, BRF logró adecuar la estragia a nuestras necesidades y ahora somos una compañíamucho mas productiva. </p>
                
                <cite>Betty Liu - <span>Web designer</span></cite>
                </blockquote>
                
            </div>
            
            <div class="cleaner"></div>
            
    </div>

    <div class="cleaner"></div>
  
    {% endblock %}
