{% extends "pagetemplate.html" %}
{% block contenido %}

    <div id="tooplate_middle_wrapper1">
        <div id="tooplate_middle_wrapper2">
            <div id="tooplate_middle">

                <h1>MUJERES<span>empoderadas y fortalecidas</span></h1>
                
                <p>BRF S.A. se centra en la igualdad de género y en el empoderamiento de la mujer no solo desde el punto de vista laboral, sino también como medio para alcanzar sus objetivos.</p>
                
            </div>
        </div>
    </div>

    <div id="tooplate_main">
        
        <div id="tooplate_content">

                <h2>Visión</h2>
                
                <p><em>Ofrecer al cliente el mejor servicio y variedad, calidad y valor de productos.</em></p>
                
                <p>En BRF S.A. nos esforzamos día a día por responder ante los retos y exigencias a los que se enfrentan nuestros clientes adoptando un enfoque global que abarca diversas disciplinas profesionales. Por ello nos preocupamos por aportarles un valor basado en el conocimiento, la innovación y la experiencia de nuestros equipo de profesionales. Nuestra visión es la de trabajar de forma incansable para que nuestra comunidad continúe creciendo.</p>
                
                <br>
                <h2>Valores</h2>
                
                <p>Las organizaciones las hacen las personas que trabajan en ellas. Por ese motivo nos preocupamos por ofrecer un valor añadido que gira en torno al talento de nuestras personas, el compromiso, el respeto a nuestros clientes y proveedores, la capacidad de innovar y la visión de futuro.</p>
                
                
                <div class="col_w270 float_l">
                
                    <ul class="tooplate_list">
                        <li><a href="#">Personas</a></li>
                        <li><a href="#">Clientes</a></li>
                        <li><a href="#">Compromiso</a></li>                
                        <li><a href="#">Innovación</a></li>
                        <li><a href="#">Futuro</a></li>
                        <li><a href="#">Desafios</a></li>
                    </ul>
                
                </div>
                
                <div class="col_w270 float_r">
                
                    <ul class="tooplate_list">
                        <li><a href="#">Tecnología</a></li>
                        <li><a href="#">Capacitación</a></li>
                        <li><a href="#">Metodología</a></li>                
                        <li><a href="#">Organización</a></li>
                        <li><a href="#">Disciplina</a></li>
                        <li><a href="#">Certificación</a></li>
        
                    </ul>
                
                </div>
                
                <div class="cleaner_h30 horizon_divider"></div>
                <div class="cleaner_h30"></div>
                
                <h2>Certificaciones</h2>
                
                <div class="image_wrapper2 fl_img"><img src="{{ url_for('static', filename='images/iso_certified.jpg') }}" alt="ISO" /></div>
                <p>BRF S.A. ha sido certificada para cumplir con los más altos estándares de gestión de calidad en la empresa, la seguridad de la producción y la organización del trabajo. El cumplimiento de todos los requisitos para la certificación de las distintas áreas de la empresa, garantiza fiabilidad, servicios y productos de alta calidad enfocados 100% al cliente.</p>
                <p>ISO 9001 ISO 14001 ISO 20000 ISO 27001</p>
                <p>BRF S.A. posee el certificado para confirmar que el sistema de gestión de calidad que funciona en la empresa cumple los requisitos de la norma ISO 9001:2015. Certificado emitido y acreditado por OCA Global, IAF (International Accreditation Forum) y ENAC Certificación.</p>
                </p>
                
        </div>
        
            <div id="tooplate_sidebar">
            
                <h2>Nuestros Servicios</h2>
                
                <ul class="tooplate_list">
                <li><a href="#">Selección de Personal</a></li>
                <li><a href="#">Pruebas Psicotecnicas</a></li>
                <li><a href="#">Campañas de Marketing</a></li>
                <li><a href="#">Asesoramiento Comercial</a></li>
                <li><a href="#">Diseño de Estrategias</a></li>
                <li><a href="#">Creación de Contenido</a></li>
                <li><a href="#">Branding</a></li>
                <li><a href="#">Social Media</a></li>
                <li><a href="#">Imagen Corporativa</a></li>
                <li><a href="#">Programas de Capacitación</a></li>
                </ul>
                
                <div class="button"><a href="{{url_for('servicios')}}">View All</a></div>
                
                <div class="cleaner_h60"></div>
                
                <h2>Casos de Exito</h2>
                
                <blockquote>
                <p>El Sistema de Gestión de la Calidad ISO 9001 asociado a la prestación de servicios debe ir acompañado de una estrategia flexible coherente con los requerimientos del entorno.</p>
                
                <cite>Sara Neuman - <span>CEO H.B Consultores & Asociados</span></cite>
                </blockquote>
                
            </div>
            
            <div class="cleaner"></div>

    </div>

    <div class="cleaner"></div> 
{% endblock %}
